@import "../../assets/styles/variables";


.events-wrapper{
  border: 2px solid $color-gray;
  overflow-y: scroll;
}

.bulletin{
  align-items: center;
  border-bottom: 2px solid $color-gray;
  display: flex;
  height: 50px;

  &.event-date-league{
    border-bottom: none;
    border-right: 2px solid $color-gray;
    color: $color-red;
    font-weight: bold;
    margin-left: 5px;
    width: 320px;
  }

  &.event-date-team-name{
    border-right: 2px solid $color-gray;
    color: $color-black;
    margin-left: 5px;
    max-width: 320px;
    min-width: 320px;
  }

  &.event-comment{
    border-bottom: none;
    border-right: 2px solid $color-gray;
    margin-left: 5px;
    width: 90px;
  }

  &.col{
    border-bottom: none;
    border-right: 2px solid $color-gray;
    min-width: 40px;
    justify-content: center;
  }
}

.event-count{
  color: $color-green;
  padding: 0 5px;
}
